# {{ ansible_managed }}
# Default configuration
# ctnguyen as host
# catch unmatched vhosts

server {
    listen 80;
    listen [::]:80 ipv6only=on;
    server_name ctnguyen.net www.ctnguyen.net ctnguyen.de www.ctnguyen.de napcae.de www.napcae.de;

    location /.well-known/acme-challenge {
        alias /etc/ssl/letsencrypt;
    }

    location / {
        rewrite ^(.*) https://www.ctnguyen.net$request_uri permanent;
    }
}

server {
    listen 443 ssl;
    server_name www.ctnguyen.net;

    root /var/web/www/ctnguyen.net;

    location / {

        index index.html index.htm index.php;
    }

    location ~*  \.(jpg|jpeg|png|gif|ico|css|js)$ {
        expires 365d;
    }

    location ~*  \.(pdf)$ {
        expires 30d;
    }

    location /video/ {
        mp4;
        mp4_buffer_size       1m;
        mp4_max_buffer_size   5m;
        mp4_limit_rate        on;
        mp4_limit_rate_after  30s;
    }

    ssl_certificate          /etc/ssl/certs/ctnguyen.net/fullchain.pem;
    ssl_certificate_key      /etc/ssl/certs/ctnguyen.net/privkey.pem;
    ssl_trusted_certificate  /etc/ssl/certs/ctnguyen.net/fullchain.pem;

    include /etc/nginx/secure.conf;
    #client_max_body_size 256m;

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";

    access_log            /var/log/nginx/ctnguyen.net.access.log;
    error_log             /var/log/nginx/ctnguyen.net.error.log;
}